<form [formGroup]="farmaciaForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="farmacia-card">
      <mat-card-header>
        <mat-card-title>Farmacia Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre de la farmacia" formControlName="nomFarmacias">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Direccion de la farmacia" formControlName="calleFarmacias"></textarea>
              <mat-error *ngIf="farmaciaForm.controls['calleFarmacias'].hasError('required')">
                La dirección es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="ID de la farmacia" type="number" formControlName="idFarmacias">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </mat-card-actions>
    </mat-card>
  </form>
  